/* ============== Importaciones ============== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');

/* ============== Variables ============== */
:root {
    /* Colores */
    --primario-color: #279eff;
    --primario15-color: rgba(41, 159, 255, 0.15);
    --light-color: #ffffff;
    --dark-color: #353c52;
    --muted-color: #747d97;
    --success-color: #05b176;
    --danger-color: #eb5757;
    --danger15-color: rgba(235, 87, 87, 0.15);
    --gray-color: #f5f5f5;

    /* Fuentes */
    --font: "Poppins", "Century Gothic", sans-serif;

    /* Tamaños de letra */
    --h1-font-size: 4rem;
    --h2-font-size: 2.5rem;
    --p-font-size: 1.8rem;
    --small-font-size: 1.4rem;

    /* Estilo de letra */
    --light-weight: 300;
    --bold-weight: 600;
}

/* ============== Globales ============== */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: var(--font);
    background-color: var(--gray-color);
}

img {
    max-width: 100%;
}

/* ============== Utilidades ============== */
.contenedor {
    max-width: 125rem;
    margin: 0 auto;
    width: 95%;
}

.boton {
    padding: .5rem 2rem ;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: var(--light-weight);
    text-align: center;
}

.primario {
    background-color: var(--primario-color);
    color: var(--light-color) !important;
    transition: all .5s ease;
}

.primario:hover {
    background-color: var(--primario15-color);
    color: var(--primario-color) !important;
}

.primario15 {
    background-color: var(--primario15-color);
    padding: 1.5rem 0;
    display: block;
    width: 80%;
    margin: 0 auto;
    transition: all .5s ease;
    color: var(--primario-color);
}

.primario15:hover {
    background-color: var(--primario-color);
    color: var(--light-color);
}

/* ============== Header ============== */
/* Header */
.site-header {
    padding: 2rem 0;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu span {
    font-size: var(--h2-font-size);
    font-weight: var(--bold-weight);
}

.menu em {
    font-size: 3rem;
}

@media (min-width: 660px) {
    .site-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
    }

    .menu {
        display: block;
    }

    .menu em {
        display: none;
    }
}

/* Barra de navegación */
.navegacion {
    display: none;
}

.navegacion.show {
    display: block;
}

.navegacion a:not(.boton) {
    font-size: var(--p-font-size);
    font-weight: var(--light-weight);
    text-decoration: none;
    color: var(--dark-color);
    display: block;
    padding: 1rem 0 ;
}

.navegacion a.boton {
    display: none;
}

.navegacion a:hover {
    color: var(--primario-color);
}

@media (min-width: 660px) {
    .navegacion {
        display: block;
    }

    .navegacion a:not(.boton) {
        margin-right: 2rem;
        transition: all .5s ease-in;
        display: inline-block;
    }

    .navegacion a.boton {
        display: inline-block;
    }
}

/* ============== Contenido principal ============== */
.site-main {
    height: 59rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.info-main {
    margin-top: -9rem;
    flex-basis: 100%;
    z-index: 3;
    order: 1;
    text-align: center;
}

.info-main h1 {
    font-size: calc(var(--h1-font-size) - 1.5rem);
    font-weight: var(--light-weight);
    margin: 0;
}

.info-main h1 span {
    color:var(--primario-color);
    font-weight: var(--bold-weight);
    display: block;
}

.info-main p {
    font-weight: var(--light-weight);
    margin: 1rem 0 2rem 0;
    font-size: calc(var(--p-font-size) - .5rem);
}

@media (min-width: 550px) {
    .info-main {
        margin: 0;
    }

    .info-main h1 {
        font-size: var(--h1-font-size);
    }

    .info-main p {
        font-size: var(--p-font-size);
    }
}

@media (min-width: 890px) {
    .site-main {
        height: 60rem;
    }

    .info-main {
        flex-basis: 55%;
        z-index: 3;
        position: absolute;
        text-align: left;
    }
}

.img-main {
    flex-basis: 100%;
    display: flex;
    transition: all .5s;
}

@media (min-width: 890px) {
    .img-main img {
        position: absolute;
        width: 50rem;
        top: 10rem;
        right: 1rem;
    }
    
    .base {
        width: 30rem;
        height: 35rem;
        background-color: var(--light-color);
        position: absolute;
        top: 8.5rem;
        right: 2rem;
        border-radius: 1rem;
        box-shadow: 0rem .5rem .5rem rgba(0, 0, 0, 0.068);
    }
}

@media (min-width: 1050px) {
    .img-main img {
        position: absolute;
        width: 70rem;
        top: 7rem;
        right: 1rem;
    }
    
    .base {
        width: 45rem;
        height: 50rem;
        background-color: var(--light-color);
        position: absolute;
        top: 5rem;
        right: 2rem;
        border-radius: 1rem;
        box-shadow: 0rem .5rem .5rem rgba(0, 0, 0, 0.068);
    }
}

/* ============== Miembros del equipo ============== */
.equipo {
    clear: left;
}

@media (min-width: 550px) {
    .equipo {
        margin-top: 17rem;
    }
}

@media (min-width: 890px) {
    .equipo {
        margin-top: 0;
    }
}

.equipo h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--light-weight);
    text-align: center;
}

.equipo h2 span {
    font-weight: var(--bold-weight);
    color: var(--primario-color);
}

.contenedor-miembros {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.miembro {
    flex-basis: 32rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0rem .2rem 1rem rgba(0, 0, 0, 0.096);
    background-color: var(--light-color);
    padding: 1.5rem 0 ;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .contenedor-miembros {
        justify-content: space-between;
    }

    .miembro {
        flex-basis: 30%;
        border-radius: 1rem;
        text-align: center;
        box-shadow: 0rem .2rem 1rem rgba(0, 0, 0, 0.096);
        background-color: var(--light-color);
        padding: 1.5rem 0 ;
        margin-bottom: 2rem;
    }
}

.tarjet-header {
    border-bottom: .2rem solid var(--muted-color);
    padding: 2rem 0;
}

.miembro:nth-child(1) .tarjet-header .profile {
    background-image: url(../IMG/profile_1.jpg);
    background-size: 170%;
    background-position:  center 15%;
}

.miembro:nth-child(2) .tarjet-header .profile {
    background-image: url(../IMG/pexels-amanda-souza-6677447.jpg);
    background-size: 100%;
    background-position:  center 15%;
}

.miembro:nth-child(3) .tarjet-header .profile {
    background-image: url(../IMG/profile_2.jpg);
    background-size: 130%;
    background-position:  center 17%;
}

.tarjet-header .profile {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    border-radius: 50%;
}

.tarjet-header h3 {
    font-size: var(--p-font-size);
    font-weight: var(--bold-weight);
    margin: 1rem 0 .5rem 0;
}

.tarjet-header p {
    font-size: var(--small-font-size);
    font-weight: var(--light-weight);
}

.tarjet-info {
    padding: 2rem 0;
}

.tarjet-info p {
    font-size: var(--small-font-size);
    font-weight: var(--bold-weight);
}

.redes {
    margin-bottom: 2rem;
}

.redes a {
    color: var(--dark-color);
    margin-right: 1rem;
    font-size: 1.8rem;
    transition: all .5s ease;
}

.redes a:hover {
    color: var(--primario-color);
}

/* ============== Resumen ============== */
/* Seccion */
.resumen {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .resumen {
        margin-top: 5rem;
        justify-content: space-between;
        align-items: center;
    }
}

/* Informacion */
.info-resumen {
    flex-basis: 100%;
    text-align: center;
}

@media (min-width: 768px) {
    .info-resumen {
        flex-basis: 50%;
        text-align: left;
    }
}

.info-resumen h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--light-weight);
}

.info-resumen h2 span {
    font-weight: var(--bold-weight);
    color: var(--primario-color);
    display: block;
}

.info-resumen p {
    font-size: var(--small-font-size);
    font-weight: var(--light-weight);
    margin: 0;
}

@media (min-width: 950px) {
    .info-resumen p {
        font-size: var(--p-font-size);
    }
}

/* Grafica */
.grafica {
    flex-basis: 100%;
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .grafica {
        flex-basis: 50%;
    }
}

.contenedor-grafica {
    width: 30rem;
    height: 40rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.137);
    transition: width .5s;
    background-color: var(--light-color);
}

@media (min-width: 768px) {
    .contenedor-grafica {
        width: 36rem;
    }
}

@media (min-width: 950px) {
    .contenedor-grafica {
        width: 45rem;
    }
}

.info-grafica h3 {
    font-size: var(--p-font-size);
    font-weight: var(--light-weight);
    margin: 0;
}

.info-grafica h3 span {
    color: var(--primario-color);
    font-weight: var(--bold-weight);
}

.info-grafica p {
    font-size: var(--h2-font-size);
    display: inline-block;
    margin: 1rem 0 0 0;
}

.info-grafica a {
    display: inline-block;
    width: auto;
    padding: .2rem 1rem;
    margin-left: 2rem;
}

.barras {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 30rem;
}

.barra {
    flex-basis: calc(100% / 4 - 1.7rem);
}

.barra .col {
    background-color: var(--primario15-color);
    border-radius: 1rem 1rem 0 0;
}

.barra:nth-child(1) .col {
    height: 15rem;
}

.barra:nth-child(2) .col {
    height: 13rem;
}

.barra:nth-child(3) .col {
    height: 17rem;
}

.barra:nth-child(4) .col {
    height: 20rem;
    background-color: var(--primario-color);
}

.barra legend {
    text-align: center;
    margin-top: 1rem;
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--light-weight);
}


/* ============== Demo ============== */
.demo {
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .demo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Información del demo */
.info-demo {
    text-align: center;
}

@media (min-width: 768px) {
    .info-demo {
        text-align: left;
        flex-basis: 46%;
        order: 1;
    }
}

.info-demo h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--light-weight);
}

.info-demo h2 span {
    font-weight: var(--bold-weight);
    color: var(--primario-color);
    display: block;
}

.info-demo p {
    font-size: var(--small-font-size);
    font-weight: var(--light-weight);
}

@media (min-width: 868px) {
    .info-demo p {
        font-size: var(--p-font-size);
    }
}

/* Contenedor demo */
.contenedor-demo {
    flex-basis: 40%;
}

/* Perfil de reseña */
.info-res {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .absolute-cont {
        position: relative;
        display: flex;
    }
}

.reseña {
    flex-basis: 100%;
    padding: 1.7rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.158);
    margin-bottom: 1rem;
}

@media (min-width: 500px) {
    .reseña {
        width: 37rem;
        margin: 1rem auto;
    }
}

@media (min-width: 768px) {
    .reseña {
        position: absolute;
        top: 1.5rem;
        left: 30%;
        background-color: var(--light-color);
    }
}

@media (min-width: 1024px) {
    .reseña {
        left: 50%;
    }
}

.info-res .img-reseña {
    flex-basis: 35%;
}

.info-res .img-reseña img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
}

.info-res .text-reseña {
    flex-basis: 65%;
}

.info-res h3 {
    font-size: var(--p-font-size);
    font-weight: var(--bold-weight);
    margin: 0;
}

.info-res p {
    margin: 1rem 0 0 0;
    color: var(--primario-color);
    font-size: var(--small-font-size);
    font-weight: var(--light-weight);
}

.reseña > p {
    font-weight: var(--light-weight);
    text-align: center;
    margin: 1rem 0 0 0;
}

/* Imagen */
.img-res img {
    border-radius: 1rem;
    width: 70rem;
    height: 40rem;
    object-fit: cover;
    margin: 0 auto;
}

/* Objeto de contacto */
.contacto-demo {
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.158);
    padding: 2rem 1rem;
}

.info-cont h3 {
    font-size: var(--p-font-size);
    font-weight: var(--bold-weight);
    margin: 0;
}

.info-cont p {
    margin: 1rem 0 0 0;
    font-weight: var(--light-weight);
    font-size: var(--small-font-size);
}

.contacto-demo a {
    display: inline-block;
    padding: .5rem 1rem;
    flex-basis: 20%;
    font-size: var(--small-font-size);
    margin: 0;
}

/* ============== Entradas de blog ============== */
.blog {
    margin-top: 5rem;
}

.blog h2 {
    font-size: var(--h2-font-size);
    text-align: center;
    font-weight: var(--light-weight);
}

.blog h2 span {
    font-weight: var(--bold-weight);
    color: var(--primario-color);
}

/* Entradas */
.contenedor-entradas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (min-width: 840px) {
    .contenedor-entradas {
        justify-content: space-between;
    }
}

/* Entrada */
.entrada {
    flex-basis: 32rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.158);
    border-radius: 1rem;
    margin-bottom: 2rem;
}

@media (min-width: 840px) {
    .entrada {
        flex-basis: 30%;
        box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.158);
        border-radius: 1rem;
    }
}

.header-entrada {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.header-entrada .img-entrada{
    width: 100%;
    height: 20rem;
    background-image: url(../IMG/pexels-designecologist-1779487.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.header-entrada em {
    align-items: center;
    text-align: center;
    flex-basis: 7rem;
    height: 7rem;
    color: var(--primario-color);
    font-size: 2.6rem;
    padding: 2rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.158);
    border-radius: 50%;
    margin-left: 3rem;
    margin-top: -3.6rem;
    z-index: 3;
    background-color: var(--light-color);
}

.cont-entrada {
    padding: 0 2rem 2rem 2rem;
    text-align: center;
}

.cont-entrada h3 {
    font-size: var(--p-font-size);
    font-weight: var(--bold-weight);
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.skill a {
    flex-basis: 30%;
    padding: 1rem;
}

/* ============== Newsletter ============== */
.newsletter {
    padding: 8rem 0;
}

.cont-newsletter {
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.253);
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.info-newsletter {
    padding: 4rem 2rem;
    text-align: center;
    order: 1;
}

@media (min-width: 768px) {
    .info-newsletter {
        flex-basis: 60%;
    }
}

.info-newsletter h2 {
    margin: 0;
    font-size: var(--h2-font-size);
    font-weight: var(--light-weight);
}

.info-newsletter h2 span {
    font-weight: var(--bold-weight);
    color: var(--primario-color);
}

.info-newsletter p {
    margin: 1rem 0 3rem 0;
    font-size: var(--p-font-size);
    font-weight: var(--light-weight);
}

.img-newsletter {
    background-image: url(../IMG/pexels-caio-67112.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
    flex-basis: 100%;
    height: 20rem;
}

@media (min-width: 768px) {
    .img-newsletter {
        flex-basis: 30%;
        height: 27rem;
        order: 1;
        border-radius: 0 1rem 1rem 0;
    }
}

/* ============== Redes ============== */
.redes-cont {
    background-color: var(--light-color);
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid #747d9752;
    border-bottom: .1rem solid #747d9752;
    flex-wrap: wrap;
}

.red {
    flex-basis: 100%;
    border-right: none;
    border-bottom: .1rem solid #747d9752;
    text-align: center;
}

.red:last-child {
    border-bottom: none;
}

@media (min-width: 550px) {
    .red {

        flex-basis: calc(100% / 4);
        border-right: .1rem solid #747d9752;
        transition: all .5s ease;
        border-bottom: none;
    }
}

.red:last-child {
    border-right: none;
}

.red em {
    transition: all .5s ease;
    font-size: 2rem;
}

.red p {
    transition: all .5s ease;
    display: inline-block;
    margin-left: 1rem;
}

.red:hover {
    background-color: var(--primario15-color);
    cursor: pointer;
}

.red:hover em,
.red:hover p {
    color: var(--primario-color);
}

/* ============== Footer ============== */
footer {
    background-color: var(--light-color);
}

.info-footer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
}

@media (min-width: 640px) {
    .info-footer {
        text-align: left;
    }
}

.info-footer h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--light-weight);
    margin: 0;
}

.info-footer h2 span {
    font-weight: var(--bold-weight);
    color: var(--primario-color);
}

.info-footer p {
    font-weight: var(--light-weight);
    font-size: var(--p-font-size);
    margin: 1rem 0 0 0;
}

@media (min-width: 640px) {
    .contenerdor-contacto {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
    }
}

.opcion-cont h3 {
    font-weight: var(--bold-weight);
    font-size: var(--p-font-size);
    margin: 2rem 0 0 0;
}

.opcion-cont p {
    font-size: var(--small-font-size);
    margin: .5rem 0 0 0;
}

/* ============== CopyRight ============== */
.copyright {
    border-top: .1rem solid #747d9752;
}

.info-cop {
    text-align: center;
    padding: 2rem 0;
}

@media (min-width: 640px) {
    .info-cop {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
}

.info-cop .redes {
    margin-bottom: 0;
}

.info-cop h3 {
    margin: 0;
    font-size: var(--p-font-size);
    font-weight: var(--bold-weight);
}

.info-cop h3 span {
    font-weight: var(--light-weight);
}